{{!-- <img src="/public/assets/camera.PNG" alt="movie camera clipart" width="250" height="250"> --}}
{{!-- Camera clip art image above, find a home for it --}}

<h1>Movie Time</h1>

<img id="graphic" src="/assets/camera-edit.png" alt="movie camera clipart">

<section class="clearfix">
    <div id="list1">
        <h2>Movies to Watch</h2>
        <ul>
        {{#each movies}}
            {{#unless watched}}
            {{> movie-block watched=true}}
            {{/unless}}
        {{/each}}
        </ul>
    </div>

    <div id="list2">
        <h2>Watched Movies</h2>
        <ul>
        {{#each movies}}
            {{#if watched}}
            {{> movie-block watched=false}}
            {{/if}}
        {{/each}}
        </ul>
    </div>
</section>

<section id="adder">
    <h2>Add a Movie</h2>
    <form class="new-form">

    <div>
        <label for="film">Movie Name:</label>
        <input type="text" id="film">
    </div>

    <button type="submit">Add Movie</button>
    </form>
</section>