body {
  background-color: lightsteelblue;
}

li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.change-watched {
  font-style: italic;
}
  
label {
  font-weight: bolder;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}